<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user.zc.spider.dao.DoubanMovieMapper">
	<resultMap id="BaseResultMap" type="user.zc.spider.entity.DoubanMovie">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="movie_id" property="movie_id" jdbcType="VARCHAR" />
		<result column="direct" property="direct" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="scriptwriter" property="scriptwriter" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="website" property="website" jdbcType="VARCHAR" />
		<result column="producer_area" property="producer_area" jdbcType="VARCHAR" />
		<result column="language" property="language" jdbcType="VARCHAR" />
		<result column="release_date" property="release_date" jdbcType="VARCHAR" />
		<result column="film_length" property="film_length" jdbcType="INTEGER" />
		<result column="alias" property="alias" jdbcType="VARCHAR" />
		<result column="rating_people" property="rating_people" jdbcType="INTEGER" />
		<result column="main_performer" property="main_performer" jdbcType="VARCHAR" />
		<result column="IMDb" property="IMDb" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="TIME" />
		<result column="rate" property="rate" jdbcType="FLOAT" />
		<result column="movie_pic_path" property="movie_pic_path" jdbcType="VARCHAR" />
		<result column="film_total" property="film_total" jdbcType="INTEGER" />
		<result column="synopsis" property="synopsis" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id,title,direct,scriptwriter,type,website,producer_area,language,release_date,film_length,alias,rating_people,main_performer,IMDb,create_time,rate,movie_pic_path,synopsis,movie_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from douban_movie
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from douban_movie
		where 1=1
		<if test="release_date !=null and release_date!=''">
			and release_date =  #{release_date,jdbcType=INTEGER}
		</if>
		<if test="direct !=null and direct!=''">
			and direct =  #{direct,jdbcType=VARCHAR}
		</if>
		<if test="order !=null and order!=''">
			${order}
		</if>
	</select>
	<update id="update" parameterType="user.zc.spider.entity.DoubanMovie">
		update douban_movie set
		<trim  suffixOverrides="," >
			version = version+1,
			<if test="synopsis !=null and synopsis!=''">
				synopsis =  #{synopsis,jdbcType=VARCHAR},
			</if>
			<if test="movie_pic_path !=null and movie_pic_path!=''">
				movie_pic_path =  #{movie_pic_path,jdbcType=VARCHAR},
			</if>
			<if test="rating_people !=null and rating_people !=''">
				rating_people =  #{rating_people,jdbcType=INTEGER},
			</if>
			<if test="rate !=null and rate!=''">
				rate =  #{rate,jdbcType=INTEGER},
			</if>
		</trim>
		where id =  #{id,jdbcType=INTEGER}
	</update>
	<select id="selectTopDirectList" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		SELECT 
		  COUNT(t.`direct`) AS film_total,
		  FORMAT(AVG(t.`rate`),2) AS rate,  
		  SUM(t.`rating_people`) AS rating_people,
		  t.`direct` as direct
		FROM
		  douban_movie t 
		GROUP BY t.`direct` 
		ORDER BY film_total DESC LIMIT 0,10;
	</select>
	<insert id="insert" parameterType="user.zc.spider.model.UserInfo">
		insert into douban_movie (
			synopsis,movie_pic_path,id,title,direct,movie_id,scriptwriter,type,website,producer_area,language,release_date,film_length,alias,rating_people,main_performer,IMDb,create_time,rate
		)
		values (
		#{synopsis,jdbcType=VARCHAR},
		#{movie_pic_path,jdbcType=VARCHAR},
		#{id,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR},
		#{direct,jdbcType=VARCHAR},
		#{movie_id,jdbcType=VARCHAR},
		#{scriptwriter,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{website,jdbcType=VARCHAR},
		#{producer_area,jdbcType=VARCHAR},
		#{language,jdbcType=VARCHAR},
		#{release_date,jdbcType=VARCHAR},
		#{film_length,jdbcType=INTEGER},
		#{alias,jdbcType=VARCHAR},
		#{rating_people,jdbcType=INTEGER},
		#{main_performer,jdbcType=VARCHAR},
		#{IMDb,jdbcType=VARCHAR},
		now(),
		#{rate,jdbcType=FLOAT}
		)
	</insert>
</mapper>